<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 
  <configSections>
    <section name="uri" type="System.Configuration.UriSection, System,
                      Version=2.0.0.0, Culture=neutral,
                      PublicKeyToken=b77a5c561934e089" />
  </configSections>
-->
  

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <!--
  <uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />

    <schemeSettings>
        <add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes" />
    </schemeSettings>
  </uri>
  -->
  
  <!--

  <uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
   -->
  
</configuration>