<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:\Users\peter.huyghe\Desktop\console-example-internal.log"
      internalLogLevel="Info" >

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <!--<extensions>
    <add assembly="NLog.Raygun"/>
  </extensions>-->

  <targets>
    <!-- Trace is for visual studio output window during debugging -->
    <!-- Debug is for dbgview on other machines, if others would fail -->
    <!-- https://github.com/nlog/nlog/wiki/BufferingWrapper-target -->
    <!-- https://github.com/nlog/nlog/wiki/Mail-target -->

    <target xsi:type="File"
            name="file"
            layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${machinename} ${pad:padding=60:inner=${logger}} &gt; ${message} ${onexception:inner=${newline}${exception:format=tostring}}"
            fileName="${basedir}\app-dev.txt"
            archiveFileName="${basedir}\app-{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="14" />

    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time} ${pad:padding=5:inner=${level:uppercase=true}} ${message} ${onexception:inner=${newline}${exception:format=tostring}}"/>

    <target xsi:type="Trace"
            name="diagnosticsTrace" />

    <target xsi:type="BufferingWrapper" name="errormail" bufferSize="10000">
      <target xsi:type="Mail"
              name="errormail-real-html"
              from="no-reply@natcheurope.com"
              to="web@natcheurope.com"
              useSystemNetMailSettings="false"
              smtpServer="127.0.0.1"
              addNewLines="true"
              html="false"
              layout="${message} ${exception} "
              subject="ERROR TEST ${processname} [${machinename} - ${shortdate}] - ${identity}">
        <header xsi:type="SimpleLayout">
          <text>
            <![CDATA[
Host ${hostname}
Level ${level}
Caller ${callsite}
Line ${callsite-linenumber}
-----------------------------------------------------------------------------------------
${stacktrace}
-----------------------------------------------------------------------------------------
${threadname}
${processname} on
${machinename} at
${shortdate} ${time}
            ]]>
          </text>
        </header>
        <footer xsi:type="SimpleLayout">
          <text>
            <![CDATA[
This mail only contains messages that were logged with level error or higher.
Check the log file on the file server under the project directory.
Alternatively you can check the event log on the application server.
]]>
          </text>
        </footer>
      </target>
    </target>

    <!--<target
      name="raygun"
      type="RayGun"
      ApiKey="upX4zU403k4UqJsfQuXwdg"
      Tags="app:Deschacht.Ecommerce.TaskRunner"
      UseExecutingAssemblyVersion="true"
      layout="${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}${newline}"
    />-->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="diagnosticsTrace" />
    <logger name="*" minlevel="Warn" writeTo="errormail" />
    <!--<logger name="*" writeTo="raygun" minlevel="Off"  />-->
  </rules>

</nlog>
