<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- add your targets here -->
    <target xsi:type="File"
            name="file"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${machinename}|${pad:padding=50:inner=${logger}}|${message}|${onexception:${exception:format=tostring}}"
            fileName="${basedir}/app.txt"
            archiveFileName="${basedir}/app-{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="10" />

    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time} ${pad:padding=5:inner=${level:uppercase=true}} ${message} ${onexception:inner=${newline}${exception:format=tostring}}"/>

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>

</nlog>
